@import url("https://fonts.googleapis.com/css2?family=Yaldevi:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yaldevi", sans-serif;
}

.btn {
  background-color: hsl(171, 100%, 41%);
  border: none;
}

.btn:hover {
  background-color: hsl(171, 100%, 27%);
  border: none;
}

.mybg {
  background-color: hsl(171, 100%, 41%);
}
